@model  ViewModel.NotesVM

@{
    ViewBag.Title = "Notes";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
}

<div class="cd-user-modal">
    <!-- this is the entire modal form, including the background -->
    <div class="cd-user-modal-container">
        <!-- this is the container wrapper -->
        <ul class="cd-switcher">
            <li><a href="#0">Add Note</a></li>
            @*
                <li><a href="#0">New account</a></li>*@
        </ul>
        <!-- sign up form -->
        @Html.Partial("_AddNote", Model)
        <!-- cd-signup -->
        <a href="#0" class="cd-close-form">Close</a>
    </div>
    <!-- cd-user-modal-container -->
</div>
<div class="Top-Content-Padding">
    <div class="jumbotron ml-auto">
        <h3><a id="AddNote" class="btn btn-primary pull-right" href="#0">Add Note</a></h3>
    </div>
</div>
<div>
    <table id="tblNotesList" class="display">
        <thead>
            <tr>
                <th>Action</th>
                <th>Imps</th>
                <th>Date</th>
                <th>Subject</th>
                <th>Note</th>
            </tr>
        </thead>
    </table>
</div>



@section scripts
{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/CustomJSScripts/jsNotes.js"></script>
}
