@model ViewModel.UserLoginVM

<div id="cd-login">
    <form class="cd-form" id="cd-form-Login">
        <p class="fieldset">
            <label class="image-replace cd-email" for="LoginEmail">
                E-mail
            </label>
            @Html.TextBoxFor(x => x.LoginEmail, new { @class = "full-width has-padding has-border", placeholder = "E-mail" })
            @Html.ValidationMessageFor(x => x.LoginEmail, null, new { @class = "cd-error-message" })
        </p>
        <p class="fieldset">
            <label class="image-replace cd-password" for="LoginPassword">
                Password
            </label>
            @Html.TextBoxFor(x => x.LoginPassword, new { @class = "full-width has-padding has-border", placeholder = "Password" ,type = "password"})
            <a href="#0" class="hide-password">Show</a>
            @Html.ValidationMessageFor(x => x.LoginPassword, null, new { @class = "cd-error-message" })
        </p>
        <p class="fieldset">
            <input class="full-width" id="btnLogin" type="submit" value="Login">
            <span id="LoginValidate"></span>
        </p>
    </form>
    <p class="cd-form-bottom-message">
        <a href="#0">Forgot your password?</a>
    </p>
</div>
