@model  ViewModel.AnalysisVM

<div id="cd-RemoveAdmin">
    <!-- sign up form -->
    <form class="cd-form" id="cd-form-RemoveAdmin">
        @Html.AntiForgeryToken()
        <p class="fieldset">
            <label class="image-replace cd-RemoveAdmin" for="UserList">Select User</label>
            @Html.DropDownList("UserListRemove", new SelectList(Model.RemoveAdminList, "UserId", "SignUpEmail"), "Select User", new { @class = "full-width has-padding has-border UserListRemove", multiple = "multiple" })
        </p>
        <p class="fieldset">
            <input id="btnRemoveAdmin" class="full-width has-padding" type="submit" value="Remove Admin">
            <span id="RemoveAdminValidate"></span>
        </p>
    </form>
</div>
