
<div class="Top-Content-Padding">
    <div>
        <h6>Note: If you delete your account all your information will be permanently deleted</h6>
    </div>
    <div>
        <form class="cd-form" id="cd-form-DltAccnt">
            @Html.AntiForgeryToken()
            <p class="fieldset">
                <label class="image-replace cd-password">Enter Password</label>
                @Html.TextBox("txtPass", "", new { @class = "full-width has-padding has-border", placeholder = "Password" })
            </p>
            <p class="fieldset">
                <button id="btnDeleteAccnt" class="full-width has-padding btn btn-primary">Delete Account</button>
                <span id="DeleteAccountValidate"></span>
            </p>
        </form>
    </div>
</div>


@section scripts
{
    @Scripts.Render("~/ScriptBundle/DeleteAccount")
}

